<div class="container">
  <div class="mt-4">
   <div class="card">
      <div class="card-body mx-auto">
          <span class="ms-5 "> Result : {{nombre}}</span>
      <div class="my-1 ">
         <button 
         (click)="inc()"
         class="btn btn-primary mx-1">Anc</button>
         <button 
         (click)="reset()"
         class="btn btn-danger mx-1">Rest</button>
         <button
         (click)="dec()"
         class="btn btn-warning mx-1">Dec</button>
      </div> 
      </div>
   </div>
  </div>
</div>